/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .loading-text p {
    font-size: 56px;
    line-height: 56px;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .loading-text p {
    font-size: 56px;
    line-height: 56px;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .loading-text p {
    font-size: 56px;
    line-height: 56px;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .loading-text p {
    font-size: 150px;
    line-height: 150px;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .loading-text p {
    font-size: 240px;
    line-height: 240px;

  }
}